body h2, h3 {
    text-align: center;
    color: var(--primary);
    text-transform: uppercase;
}

body p {
    text-align: center;
    font-size: 18px;
    color: var(--primary);
    margin: 10px;
    padding: 5px;
}

.quero {
    border-radius: 20px;
    border: 2px solid var(--secondary);
    box-shadow: 1px 1px 15px 3px rgba(19,211,214, 0.6);
    padding: 10px;
    margin: 5px 100px;
}

.quero:hover {
    font-weight: bolder;
    border: var(--primary);
    background: var(--secondary);
    transition: 0.8s;
}