:root {
    --primary: #001f2e;
    --secondary: #13d3d6;
}

header, body, footer {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header img, .itensImg {
    display: block;
    width: 360px;
    margin: auto;
    padding: 10px 0px;
}

header h1 {
    font-size: 45px;
    color: var(--primary);
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

body {
    background-color: white;
}

body a {
    text-decoration: none;
    color: var(--primary);
}

body a:hover {
    transition: 0.2s;
}

.promo {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    background: none;
    color: var(--primary);
    margin: 30px;
    padding: 6px 12px;
    border-radius: 20px;
    border: 2px solid var(--secondary);
    box-shadow: 1px 1px 15px 3px rgba(19,211,214, 0.6);
}

.promo:hover {
    font-weight: bolder;
    font-size: 35px;
    border: var(--primary);
    background: var(--secondary);
    transition: 0.8s;
}

.itens {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    background: none;
    color: var(--primary);
    margin: 20px;
    padding: 6px 12px;
    border-radius: 20px;
    border: 2px solid var(--secondary);
    box-shadow: 1px 1px 15px 3px rgba(19,211,214, 0.6);
}

.itens:hover {
    font-weight: bolder;
    font-size: 35px;
    border: var(--primary);
    background: var(--secondary);
    transition: 0.8s;
}

footer {
    display: block;
    text-align: center;
}

footer p {
    font-weight: bold;
}

footer img {
    width: 20px;
}
